# Auto detect text files and perform LF normalization
* text=auto

# Go files should always use LF
*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf

# Ensure certain files are always LF
Makefile text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Ensure certain files are never modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
